#app {
    font-family: 'Work Sans', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.mid {
    display: none;
}

.mobile {
    display: none;
}

@media (max-width: 992px) {
    .desktop {
        display: none;
    }
    .mid {
        display: block;
    }
}

@media (max-width: 768px) {
    .mid {
        display: none;
    }
    .mobile {
        display: block;
    }
}