@import 'mixins';

div.main {
    background-color: #FBFBFB;

    .header {
        position:fixed;
        width:100%;
        z-index: 100000;
        background-color: #FFF;
        top:0;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        padding-top: 5rem;

        .aside-wrapper {
            flex: 0 0 auto;
            width: 20%;
            background-color: #FFF;
        }

        .side-menu {
            background-color: #FFF;
        }

        .routes {
            flex: 0 0 auto;
            width: 80%;
        }
    }
}

@media (max-width: 992px) {
    div.main {
        
        .row {
            // flex-wrap: nowrap;

            .aside-wrapper {
                display: none;
                width: 100%;
                height: 100%;
                background-color: #0006;
                z-index: 11;
            }
    
            .side-menu {
                flex: 0 0 auto;
                transition: all 0.5s ease-out;
                padding-top: 6rem;
                transform: translateX(-20rem);
                z-index: 11;
                // display: none;
            }
    
            .routes {
                flex: 0 0 auto;
                width: 100%;
                position: relative;
            }

            .show-nav {
                padding-bottom: 7rem;
                transform: translateX(0);
                width: 50%;
                height: 100vh;
                z-index: 11;
            }
        }

        .no-wrap {
            flex-wrap: nowrap;
    
            .aside-wrapper {
                display: block !important;
                position: fixed;
                overflow: hidden;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 9999;

                aside {
                    z-index: 10000;
                    position: relative;
                }
            }
    
            .routes {
                position: absolute !important;
            }
        }

    }
}

@media (max-width: 575px) {
    div.main {
        
        .row {

            .show-nav {
                padding-bottom: 7rem;
                transform: translateX(0);
                width: 100%;
                height: 100vh;
                z-index: 11;
            }
        }

    }
}