@import 'mixins';

div.login-row {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;

    .login-col {
        flex: 0 0 auto;
        padding: 3rem;
        display: flex;
        align-items: center;

        &:nth-of-type(1) {
            justify-content: center;
            width: 53%;
        }

        &:nth-of-type(2) {
            padding: 6rem;
            width: 47%;
            box-shadow: 0px 15px 90px 0px #00000008;
        }

        .logo {
            position: absolute;
            top: 5rem;
            left: 5rem;
            height: 2rem;
        }

        .right-logo {
            display: none;
        }

        .left-img {
            position: relative;
            top: 2rem;
            max-width: 100%;
        }

        .form {
            flex-direction: column;
            width: 100% !important;

            .error {
                background-color: #e4033b0f;
                width: 100%;
                padding: 0.5rem 1rem;

                p {
                    color: $Blacklisted;
                    font-size: 0.8rem;
                }
            }

            h1 {
                color: $DeepBlue;
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                color: $Inactive;
            }

            form {
                color: $Cyan;
                input {
                    border: 2px solid #545F7D26;
                    width: 100%;
                    border-radius: 5px;
                    padding: 0.8rem 1rem;
                    margin-bottom: 0rem;
                    color: $Inactive;
                    opacity: 70%;

                    &:focus {
                        border: 2px solid $Cyan;
                        outline: none;
                    }

                    &:nth-of-type(1) {
                        margin-top: 2rem;
                    }
                }
                .password {
                    display: flex;
                    position: relative;

                    input {
                        padding-right: 4rem;
                    }

                    h6 {
                        position: absolute;
                        right: 1rem;
                        bottom: 1rem;
                        color: $Cyan;
                        margin: 0 !important;
                        cursor: pointer;
                    }
                }
                .forgot {
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                button {
                    width: 100%;
                    background-color: $Cyan;
                    color: #FFF;
                    border: none;
                    border-radius: 8px;
                    padding-top: 0.8rem;
                    padding-bottom: 0.8rem;
                    font-family: 'Work Sans', sans-serif;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    div.login-row {
        .login-col {
            
            .logo {
                top: 3rem;
                left: 3rem;
                height: 1.5rem;
            }
    
            &:nth-of-type(1) {
                width: 40%;
            }

            &:nth-of-type(2) {
                width: 60%;
                padding: 2.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    div.login-row {
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-wrap: wrap;
    
        .login-col {
            width: 100% !important;
    
            .right-logo {
                display: block;
                position: absolute;
                top: 2rem;
                left: 2rem;
                height: 1.5rem;
            }

            &:nth-of-type(1) {
                display: none;
            }

            &:nth-of-type(2) {
                width: 100%;
                padding: 2rem;
            }
        }
    }
}