//SCSS Variables
$Black: #502323;
$Blacklisted: #E4033B;
$Pending: #E9B200;
$Active: #39CD62;
$Inactive: #545F7D;
$DeepBlue: #213F7D;
$White: #FFFFFF;
$Cyan: #39CDCC;
$Dashboard: #f9f9f9;
$BlackBack: #202020;
$InputBorder: rgba(84, 95, 125, 0.15);
$LightBorder: rgba(33,63,125,.1);
$BoxShadow: #0000000a;